<link rel="stylesheet" href="../public/stylesheets/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body>
    <div id="gallery-body">
        <div id="galleries">
            <ul>
                <li><a class="gallery" id="0300h"><i>0300h</i></a></li>
                <li><a class="gallery" id="gallery2"><i>gallery2</i></a></li>
                <li><a class="gallery" id="gallery3"><i>gallery3</i></a></li>
            </ul>
        </div>
        
        <div id="galleryscroller">
            <iframe id="iframe" marginwidth="0px" marginheight="0px" width="100%" height="100%" frameborder="0" src="../public/galleries/0300h.html"></iframe>
        </div>
    </div>
</body>

<script>
    document.getElementById("0300h").addEventListener("click", function() {
        document.getElementById("iframe").src="../public/galleries/0300h.html"
    })
</script>
