<link rel="stylesheet" href="../public/stylesheets/main.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>

<style>
    .w3-panel {
        margin-top: 16px!important;
        margin-bottom: 16px!important;
        margin-left: 6px!important;
        width: 35%;
        /*margin-right: 750px!important;*/
        left: 16px;
    }

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
    }
    .firstcard {
        margin-top: 0px!important;
    }
</style>
<body>
    <br>
    <div class="w3-panel w3-card-4 firstcard">
            <h1>About me</h1>
            <p><b>Name: </b>Nils Axel Georg Korsfeldt</p>
            <p><b>Born: </b>24th of June, 2001</p>
            <p><b>Online alias: </b> pask</p>
            <p> </p>
    </div>
    <div class="w3-panel w3-card-4">
            <h1>Education</h1>
            <p>Studying technics at IT-Gymnasiet Södertörn in Stockholm, Sweden.</p>
            <p>Taking two courses of programming, two courses of web development, one course of web server development and one course of interface design (as far as IT is considered).</p>
            <p> </p>
    </div>
    
    <div id="twitterembedparent" >
        <div id="twitterembed">
            <a class="twitter-timeline" data-width="400" data-height="100%" data-theme="light" href="https://twitter.com/generalpaskmust?ref_src=twsrc%5Etfw">Tweets by generalpaskmust</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <ul class="menu" style="display: none;">
        <li><a id="photography">Photography</a></li>
        <li><a id="cubing">Cubing</a></li>
        <li><a id="contact">Contact</a></li>
        <li><a id="about">About</a></li>
    </ul>
</body>