<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../public/stylesheets/main.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<title>KORSFELDT INDUSTRIES</title>
	</head>
	<body>
		<div id="header">
			<img class="logo" src="../public/img/televerket.png" width="100px">
			
			<img class="title" src="../public/img/title.png">
			<br>
			<nav class="menu-nav" style="position: absolute;">
				<a id="home" class="menu-nav-item">[Home]</a>
				<a id="projects" class="menu-nav-item">[Projects]</a>
				<a id="gallery" class="menu-nav-item">[Gallery]</a>
			</nav>
			<a href="playground/playground-index.html" style="top: -50vw;">
				<div id="playground-link">hoide</div>
			</a>
		</div>
		<div id="main">
			<iframe id="iframe" marginwidth="0px" marginheight="0px" frameborder="0" src="home.html"></iframe>
		</div>
	</body>
	<script src="../public/scripts/dynamic_switch.js"></script>
</html>
