@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.googleapis.com/css?family=Roboto');
}

body {
	text-align: left;
	color: black;
	/*background-color: #f3f2f2;*/
	background-color: white;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}



iframe {
	width: 100vw;
	height: 89vh;
}


#header {
	width: 50vw;
	height: 11vh;
	position: relative;
	padding: 5px 5px 5px 5px;
	/*background-color: #DE5307;*/
	background-color: #0080ff;
}
.logo {
	margin-top: 5px;
	margin-left: 5px;
}
.title {
	display: inline;
	position: relative;
	bottom: 32.5px;
	font-weight: 500!important;
	/*font-family: Panavision;*/
}
.menu-nav {
	display: inline!important;
	position: absolute!important;
	left: 116px;
	bottom: 20px;
}
.menu-nav-item {
	color: black;
	
}
.menu-nav-item:hover {
	/*background-color: #af4003;*/
	background-color: #0068d1;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
	background-color: #DE5307;
}
.menu li a:hover {
    background-color: #af4003;
    color: #000;
}

ul#horizontal-list li {
	display: inline;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}




.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

div#playground-link {
	position: absolute;
	width: 20px;
	height: 15px;
	-webkit-transform: rotate(-30deg) scale(0.7);
	opacity: 0;
	left: 75px;
	top: 65px;
}

div#twitterembedparent{ 
  width: 100%; 
  position: relative;
}
div#twitterembed {
	top: -340px;
	right: 0; 
  	bottom: 0;
	position: absolute;
  	float: right;
  	float: top;
}

#home, #projects, #gallery {
	cursor: pointer;
}

#main-img {
	width: 500px;
}

/* Gallery */
#gallery-body {
	overflow: visible;
	width: 100vw;
}
#gallery-body div {
	display: block;
}
#galleries {
	width: 20vw;
}
#galleries ul {
	list-style-type: none;	
}
#galleryscroller{
	width: 80vw;
}
.container {
	position: absolute;			
}
.gallery-img {
	width: 80vw;
}