<head>
    <script defer src="scripts/gallery_switch.js"></script>

    <style>
        canvas {
            opacity: 0;
            top: 0;
        }
    </style>
</head>

<body>
    <div id="gallery-body">
        <div id="galleries">
            <ul>
                <li><a class="gallery" id="samplegallery"><i>samplegallery</i></a></li>
                <li><a class="gallery" id="skelly"><i>skelly</i></a></li>
            </ul>
            <br>
            
            <ul>
                <h3>Cassettes</h3>
                <li><a class="gallery" id="remembering"><i>MindSpring Memories - Remembering Your Earth Form</i></a></li>
                <li><a class="gallery" id="destination"><i>MindSpring Memories - Destination Infinite</i></a></li>
            </ul>
        </div>
        
        <div id="galleryscroller"></div>
    </div>
</body>