<link rel="stylesheet" href="../public/stylesheets/main-new.css">
<body class="gallery">
    <div id="gallery-body">
        <div id="galleries">
            <ul>
                <li><a id="0300h"><i>0300h</i></a></li>
                <li><a id="samplegallery"><i>samplegallery</i></a></li>
                <li><a id="skelly"><i>skelly</i></a></li>
            </ul>
        </div>
        
        <div id="galleryscroller">
            <iframe class="galleries-iframe" id="galleries-iframe" marginwidth="0px" marginheight="0px" width="80%" height="100%" frameborder="0" src="../public/galleries/0300h.html"></iframe>
        </div>
    </div>
</body>

<script src="../public/scripts/gallery_switch.js"></script>
