<head>
    <script defer src="scripts/gallery_switch.js"></script>
    <style> canvas { opacity: 0; top: 0; } </style>
</head>

<body>
    <div id="gallery-body">
        <div id="galleries">
            <ul>
                <li><a class="gallery" id="samplegallery">samplegallery</a></li>
                <li><a class="gallery" id="skelly">skelly</a></li>
            </ul>
            <br>
            
            <ul>
                <h3>Cassettes</h3>
                <li><a class="gallery" id="remembering">MindSpring Memories - Remembering Your Earth Form</a></li>
                <li><a class="gallery" id="destination">MindSpring Memories - Destination Infinite</a></li>
            </ul>
        </div>
        
        <div id="galleryscroller"></div>
    </div>
</body>