<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<body>
    <br>
    <div class="w3-panel w3-card-4" style="margin-top: 0px!important;">
            <h1>About me</h1>
            <p>
                <b>Name: </b>Nils Korsfeldt<br>
                <b>Born: </b>24th of June, 2001<br>
                <b>Online alias: </b> pask<br>
            </p>
            <p> </p>
    </div>
    <div class="w3-panel w3-card-4">
            <h1>Education</h1>
            <p>Studying IT at NTI-Gymnasiet Södertörn in Stockholm, Sweden.</p>
            <p>Taking two courses of programming, two courses of web development, one course of web server development and one course of interface design (as far as IT is considered).</p>
            <p> </p>
    </div>
    <div class="medias">
        <a target="_blank" href="https://github.com/generalpask"><img src="img/soc_icons/github.png"></a>
        <a target="_blank" href="https://twitter.com/generalpaskmust"><img src="img/soc_icons/twitter.png"></a>
        <a target="_blank" href="https://www.reddit.com/user/thatguyinhat/"><img src="img/soc_icons/reddit.png"></a>
    </div>
    <!--
    <div id="twitterembedparent" >
        <div id="twitterembed">
            <a class="twitter-timeline" data-width="400" data-height="1000" data-theme="light" href="https://twitter.com/generalpaskmust?ref_src=twsrc%5Etfw">Tweets by generalpaskmust</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    -->
    <!--
    <ul class="menu">
        <li><a id="photography">Photography</a></li>
        <li><a id="cubing">Cubing</a></li>
        <li><a id="contact">Contact</a></li>
        <li><a id="about">About</a></li>
    </ul>
    -->
</body>