<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="stylesheets/main-new.css">
        <link rel="icon" href="img/televerket.png">
		<title>KORSFELDT INDUSTRIES</title>
	</head>
	<body>
		<div id="header">
			<img class="logo" src="img/televerket.png" width="100px">
			<img class="title" src="img/title.png">
			<br>
			<nav class="menu-nav" style="position: absolute;">
            <a id="home" class="menu-nav-item">[Home]</a>
			<a id="projects" class="menu-nav-item">[Projects]</a>
			<a id="gallery" class="menu-nav-item">[Gallery]</a>
			</nav>
			<a href="sandbox.html" style="top: -50vw;">
				<div id="sandbox-link">hoide</div>
			</a>
		</div>
		<div id="main">
			<iframe id="iframe" marginwidth="0px" marginheight="0px" frameborder="0" src="/home"></iframe>
		</div>
	</body>
	<script src="scripts/dynamic_switch.js"></script>
</html>
