<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="img/televerket.png">
        <title>KORSFELDT INDUSTRIES</title>

        <!-- CSS -->
        <link rel="stylesheet" href="stylesheets/main-new.css">
        
        <!-- JS -->
        <script defer src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script defer src="scripts/dynamic_switch.js"></script>
        <script defer src="scripts/threejs/three.js"></script>
        <script defer src="scripts/cubes.js"></script>
        
	</head>
	<body>
        <div class="main">
            <div class="header">
                <a href="sandbox.html">
                    <div id="sandbox-link">hoide</div>
                </a>
                <img class="logo" src="img/televerket.png" width="100px" height="100px">
                <div class="subdiv">
                    <img class="title" src="img/title.png">
                    <nav class="menu-nav" style="position: absolute;">
                        <a id="home" class="menu-nav-item">[Home]</a>
                        <a id="projects" class="menu-nav-item">[Projects]</a>
                        <a id="gallery" class="menu-nav-item">[Gallery]</a>
                    </nav>
                    
                </div>
            </div>
            <div class="content" id="main">
                <!--<iframe id="iframe" marginwidth="0px" marginheight="0px" frameborder="0" src="/home"></iframe>-->
            </div>
        </div>
    </body>
    
</html>
