
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .w3-panel {
        margin-top: 16px!important;
        margin-bottom: 16px!important;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        border-radius: 5px;
        
    }
    a, a:link, a:visited, a:hover, a:active {
        text-decoration: none;
    }
</style>
<br>
<div class="cards">
    <div class="w3-panel w3-card-4" style="margin-top: 0px!important;">
        <h1>nils.korsfeldt.se</h1>
        <p>This webpage!</p>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/generalpask/nils.korsfeldt.se" style="color: #0080ff">GitHub</a>
        <p> </p>
    </div>

    <div class="w3-panel w3-card-4">
        <h1>CropFactorCalculator (WIP)</h1>
        <p>CropFactorCalculator is a simple input/output web-app that lets you convert any 
            focal length on any sensor/film size to its 35mm equivalent. Work in progress.</p>
            <!--
            <br>
            For example, the crop factor of a 6x7 camera, say, the Mamiya 6x7, is 0.5.<br>
            Arguably, the most popular lens for this camera is a 80mm f/4. Strange, huh?<br>
            Well, to get the correct field of view, we need to multiply the focal length<br>
            by the sensor's crop factor, which is 0.5. 80 x 0.5 = 40 = 40mm.<br>
            <br>
            Yadda yadda I'll write something better later. It's not even going to be here.
            -->
        <a style="color: #0080ff">GitHub [TBA]</a>
        <p> </p>
    </div>
    <div class="w3-panel w3-card-4">
        <h1>The OXXKAHY (WIP)</h1>
        <p>A custom mechanical keyboard, built from scratch and designed to fit my needs.</p>
        <a href=".\projects-files\OXXKAHY\OXXKAHY.html" style="color: #0080ff">More</a>
        <p> </p>
    </div>
    <div class="w3-panel w3-card-4">
        <h1>Algorithm Database Terminal (WIP)</h1>
        <p>An idea built on <a href="https://www.algdb.net" style="color: #0080ff">AlgDb.</a> It's meant to be a smoother page for 
        submitting algorithms. Still a work in progress!</p>
        <a style="color: #0080ff">GitHub [TBA]</a>
        <p> </p>
    </div>
</div>