* {
	margin: 0;
	padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
}
@font-face {
	font-family: 'Roboto Regular';
	src: url('../fonts/Roboto-Regular.ttf')
}
body {
    text-align: left;
	color: black;
	/*background-color: #f3f2f2;*/
	background-color: white;
}
iframe {
	width: 100vw;
	height: 89vh;
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

#header {
    width: 50vw;
	height: 11vh;
	position: relative;
	margin: 10px;
	padding: 5px 5px 5px 5px;
	/*background-color: #DE5307;*/
    background-color: #0080ff;
    .logo {
        margin-top: 3px;
	    margin-left: 3px;
    }
    .title {
        display: inline;
        position: relative;
        bottom: 32.5px;
        font-weight: 500!important;
        /*font-family: Panavision;*/
    }
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #DE5307;
    li a:hover {
        background-color: #af4003;
        color: #000;
    }
}
.menu-nav {
    display: inline!important;
	position: absolute!important;
	left: 116px;
    bottom: 20px;
    .menu-nav-item {
        color: black;
        &:hover {
            /*background-color: #af4003;*/
            background-color: #0068d1;
        }
    }
}

ul#horizontal-list li {
    display: inline;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
div {
    &#playground-link {
        position: absolute;
        width: 20px;
        height: 15px;
        -webkit-transform: rotate(-30deg) scale(0.7);
        opacity: 0;
        left: 75px;
        top: 65px;
    }
    &#twitterembedparent {
        width: 100%; 
        position: relative;
    }
    &#twitterembed {
    	top: -340px;
        right: 0; 
        bottom: 0;
        position: absolute;
        float: right;
        float: top;
    }
}
#home, #projects, #gallery {
    cursor: pointer;
}

/* Gallery */
.galleries-iframe {
    width: 100%;
    height: 100vh;
}
#gallery-body {
    overflow: visible;
    width: 100vw;
    height: 100vh;
    div {
        display: block;
    }
    #galleries {
        display: block;
        width: 10vw;
        float: left;
        ul {
            list-style-type: none;
            margin: 2vh 0 0 2vw;
        }
    }
    #galleryscroller {
        display: block;
        width: 70vw;
        float: left;
        height: 100vh;
        margin-left: 5vw;
    }
}
.gallery-img {
    width: 100%;
    margin-bottom: 4vh;
}
.skelly-img {
    width: 24%;
}