* {
	margin: 0;
	padding: 0;
    border: none;

}

body {
    text-align: left;
	color: black;
	/*background-color: #f3f2f2;*/
    background-color: white;
    display: flex;
    justify-content: center!important;
    flex-direction: column;
    align-items: center;
}
canvas {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: -50;
}

p, a {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
}
.main {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .header {
        width: auto;
        height: 12.5vh;
        padding: 1vh 2vh 1vh 1vh;
        border-radius: 5px;
        /*background-color: #DE5307;*/
        background-color: #0080ff;
    
        display: flex;
        flex-direction: row;
    
        box-sizing: border-box;
        #sandbox-link {
            position: absolute;
            width: 40px;
            height: 15px;
            transform: rotate(-30deg) scale(0.7);
            opacity: 0;
        }
        .subdiv {
            display: flex;
            flex-direction: column;
            justify-content: center;

            margin-left: 1vh;
            .menu-nav {
                position: inherit!important;
                margin: 0.5vh 0 0 0.5vh;
                .menu-nav-item {
                    color: black;
                    &:hover {
                        /*background-color: #af4003;*/
                        background-color: #0068d1;
                    }
                }
            }
        }
        
    }
    .content {
        width: 100%;
        height: auto;
        /* Home */
        div.w3-panel {
            margin-left: auto;
            margin-right: auto;
            width: 30%;
            border-radius: 5px;
            p {
                font-family: Verdana,sans-serif;
                font-size: 15px;
                line-height: 1.5;
                margin: 0 0 15px;
                b {
                    font-family: Verdana Bold, sans-serif;
                }
            }
            h1, h2, h3, h4, h5, h6 {
                font-family: "Segoe UI",Arial,sans-serif;
                font-weight: 400;
                margin: 10px 0!important;
                line-height: 1.1;
            }
        }
        .medias {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        /* Gallery */
        #gallery-body {
            width: 100vw;
            min-height: 85vh;
            div {
                display: block;
            }
            #galleries {
                display: block;
                width: 16vw;
                height: auto;
                float: left;
                ul {
                    list-style-type: none;
                    margin: 2vh 0 0 2vw;
                    cursor: default;
                    a.gallery {
                        font-family: Verdana,sans-serif;
                        font-size: 15px;
                        line-height: 1.5;
                        border-radius: 2.5px;
                        &:hover {
                            background-color: lightgrey;
                            transition: 0.5s;
                        }
                        &:active {
                            background-color: lightgrey;
                        }
                    }
                }
            }
            #galleryscroller {
                display: block;
                width: 70vw;
                float: left;
                height: 100%;
                margin-left: 5vw;
            }
        }
    }
}




ul#horizontal-list li {
    display: inline;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

div {
    
}

#home, #projects, #gallery {
    cursor: pointer;
}




