<link rel="stylesheet" href="stylesheets/main-new.css">
<style>
    .image {
        width: 35%;
    }
</style>

<p>Disclaimer:<br>This is a cassette by <a target="_blank" href="https://aloecityrecords.bandcamp.com/album/destination-infinite"><i>MindSpring Memories</i> on <i>Aloe City Records</i></a>, not me.</p>
<img class="image" src="../img/galleries/destination/DSC02986.jpg">
<img class="image" src="../img/galleries/destination/DSC02988.jpg">
<img class="image" src="../img/galleries/destination/DSC02989.jpg">
<img class="image" src="../img/galleries/destination/DSC02990.jpg">
