<style>
    .image {
        width: 25%;
    }
</style>

<p><b>Disclaimer:</b> This is a cassette by <a target="_blank" href="https://aloecityrecords.bandcamp.com/album/remembering-your-earth-form"><i>MindSpring Memories</i> on <i>Aloe City Records</i></a>, not me.</p>
<br>
<img class="image" src="../img/galleries/destination/DSC02986.jpg">
<img class="image" src="../img/galleries/destination/DSC02988.jpg">
<img class="image" src="../img/galleries/destination/DSC02989.jpg">
<img class="image" src="../img/galleries/destination/DSC02990.jpg">
