<link rel="stylesheet" href="stylesheets/main-new.css">
<style>
    .image {
        width: 40%;
    }
</style>

<p>Disclaimer:<br>This is a cassette by <a target="_blank" href="https://aloecityrecords.bandcamp.com/album/remembering-your-earth-form"><i>MindSpring Memories</i> on <i>Aloe City Records</i></a>, not me.</p>
<img class="image" src="../img/galleries/remembering/DSC03014.jpg">
<img class="image" src="../img/galleries/remembering/DSC03020.jpg">
<img class="image" src="../img/galleries/remembering/DSC03023.jpg">
